@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes nav-mobile-show {
  from {
    left: 2000px;
  }
  to {
    left: 0;
  }
}
@keyframes nav-mobile-hide {
  from {
    left: 0;
  }
  to {
    left: 2000px;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-size: 1.6rem;
  background-color: #e5dada;
  color: #e5dada;
}

.sticky-body {
  overflow: hidden;
}

button,
input,
body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #02040f;
  z-index: 999;
}
.nav__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0.25em;
}
.nav__hamburger {
  padding: 0.5em;
  font-size: 3.5rem;
  border: none;
  background: none;
  color: #e5dada;
  cursor: pointer;
}
.nav__logo {
  font-size: 3.5rem;
  font-weight: bold;
}
.nav__logo-link {
  text-decoration: none;
  color: #e5dada;
}
.nav__logo-icon {
  padding: 0 0.5em;
  color: #e59500;
}
.nav__list {
  display: none;
  padding: 0 0.5em;
  list-style: none;
}
.nav__list-item {
  position: relative;
  padding: 0 1em;
  font-size: 2.4rem;
}
.nav__list-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 0;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: width 0.3s, border 0.3s;
}
.nav__list-item:hover::after {
  width: 70%;
  border: 1px solid #e59500;
}
.nav__list-item-link {
  text-decoration: none;
  color: #e5dada;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0.25em;
}
.nav-mobile__links {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #02040f;
  z-index: 2000;
}
.nav-mobile__links-hamburger-mobile {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3.5rem;
}
.nav-mobile__links-list {
  list-style: none;
}
.nav-mobile__links-list-item {
  font-size: 4rem;
  padding: 1em;
}

.above {
  z-index: 10000;
}

.active {
  display: flex;
  animation: nav-mobile-show 1s forwards;
}

.de-active {
  display: flex;
  animation: nav-mobile-hide 1s forwards;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../img/header-small.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}
.header__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -100;
}
.header__title {
  padding: 1em;
  font-size: 4.2rem;
  color: #e5dada;
}
.header__title-decoration {
  padding: 0.3em;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 10px;
  color: #e59500;
  background-color: #02040f;
}
.header__text {
  padding: 0.5em;
  font-size: 2.4rem;
}
.header__link {
  text-decoration: none;
  color: #e5dada;
}
.header__arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%) rotate(90deg);
  padding: 0.5em;
  font-size: 3.5rem;
  border-radius: 50%;
  border: 1px solid white;
}
.header__arrow::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #e5dada;
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}

.main__about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6em 0;
  text-align: center;
}
.main__about-us-text {
  padding: 2em;
  color: #02040f;
}
.main__about-us-text-title {
  font-size: 3.2rem;
  padding: 0.5em;
}
.main__about-us-text-p {
  font-size: 2rem;
}
.main__about-us-photo {
  padding: 2em;
}
.main__about-us-photo img {
  height: 250px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #02040f;
}
.footer__text {
  font-size: 1.8rem;
}

.wrapper-menu {
  width: 1000px;
}

.main-menu {
  margin-top: 10em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02040f;
}
.main-menu__box {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.main-menu__box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-align: center;
  border: 2px solid #02040f;
  background-color: #c5c5c5;
}
.main-menu__box-item-left-name {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.main-menu__box-item-left-type {
  padding: 0.5em;
  font-size: 1.8rem;
}
.main-menu__box-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu__box-item-right-icon {
  padding: 0 0.5em;
  font-size: 1.8rem;
}
.main-menu__box-item-right-price {
  font-size: 2rem;
}

.main-contact {
  height: 100vh;
}

.wrapper-menu {
  width: 1000px;
}

.main-menu {
  margin-top: 10em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02040f;
}
.main-menu__box {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.main-menu__box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-align: center;
  border: 2px solid #02040f;
  background-color: #c5c5c5;
}
.main-menu__box-item-left-name {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.main-menu__box-item-left-type {
  padding: 0.5em;
  font-size: 1.8rem;
}
.main-menu__box-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu__box-item-right-icon {
  padding: 0 0.5em;
  font-size: 1.8rem;
}
.main-menu__box-item-right-price {
  font-size: 2rem;
}

.main-contact {
  height: 100vh;
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__list {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .header {
    background-image: url("../img/header-big.jpg");
  }
  .footer__text {
    font-size: 2rem;
  }
  .main-menu__box-item {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .main-menu__box-item-left-name {
    padding: 0 0.5em;
    font-size: 1.9rem;
  }
  .main-menu__box-item-left-type {
    padding: 0.5em;
    font-size: 1.9rem;
  }
  .main-menu__box-item-right {
    padding: 0 0.5em;
  }
  .main-menu__box-item-right-icon {
    padding: 0 0.5em;
    font-size: 1.9rem;
  }
  .main-menu__box-item-right-price {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  .header__title {
    font-size: 4.8rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .header__arrow {
    font-size: 4rem;
  }
  .main__about-us {
    flex-direction: row;
  }
  .main__about-us-text-title {
    font-size: 3.4rem;
  }
  .main__about-us-text-p {
    font-size: 2.2rem;
  }
  .main__about-us-photo img {
    height: 250px;
  }
  .main-menu__box-item-left-name {
    font-size: 2rem;
  }
  .main-menu__box-item-left-type {
    font-size: 2rem;
  }
  .main-menu__box-item-right-icon {
    font-size: 2rem;
  }
  .main-menu__box-item-right-price {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .nav__list-item {
    font-size: 2.6rem;
  }
  .nav__logo {
    font-size: 3.7rem;
  }
  .header__title {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2.8rem;
  }
  .main__about-us {
    flex-direction: row;
  }
  .main__about-us-text-title {
    font-size: 3.6rem;
  }
  .main__about-us-text-p {
    font-size: 2.4rem;
  }
  .main__about-us-photo img {
    height: 300px;
  }
  .footer__text {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=style.css.map */