.wrapper-menu {
	width: 1000px;
}

.main-menu {
	position: relative;
	padding-top: 10em;
	padding-bottom: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $black;
	background-image: url("../img/menu-small.jpg");
	background-attachment: fixed;
	background-position-x: 650px;
	background-size: cover;
	z-index: 0;

	&-bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -100;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding: 1em;

		&-title {
			font-size: 4rem;
			text-transform: uppercase;
			color: $white;

			&-decoration {
				position: relative;
				padding: 0 0.25em;
				margin: 0 0.25em;
				border-top-left-radius: 25px;
				color: $black;
				background-color: $second;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					border-top-left-radius: 25px;
					border: 2px solid $second;
					animation: pulse-span 1s linear infinite;
					z-index: -1;
				}

				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					border-top-left-radius: 25px;
					border: 2px solid $second;
					animation: pulse-span 1.5s linear infinite;
					z-index: -1;
				}
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 1em;
			text-align: center;
			border: 2px solid $blue;
			border-radius: 25px;
			box-shadow: 0px 0px 15px $black;
			background-color: $grey;

			&-left {
				&-name {
					font-size: 1.8rem;
					text-transform: uppercase;
				}

				&-type {
					padding: 0.5em;
					font-size: 1.8rem;
				}
			}

			&-right {
				display: flex;
				justify-content: center;
				align-items: center;

				&-icon {
					padding: 0 0.5em;
					font-size: 1.8rem;
				}

				&-price {
					font-size: 2rem;
				}
			}
		}
	}
}

.main-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8em 0em 2em;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $black;

		&-title-main {
			padding: 0.5em;
			font-size: 4rem;
			text-transform: uppercase;
			text-align: center;
			color: $black;

			&-decoration {
				position: relative;
				padding: 0 0.25em;
				margin: 0 0.25em;
				border-top-right-radius: 25px;
				color: $black;
				background-color: $second;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					border-top-right-radius: 25px;
					border: 2px solid $second;
					animation: pulse-span 1s linear infinite;
					z-index: -1;
				}

				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					border-top-right-radius: 25px;
					border: 2px solid $second;
					animation: pulse-span 1.5s linear infinite;
					z-index: -1;
				}
			}
		}

		&-icon {
			margin: 0.25em;
			padding: 0.5em;
			font-size: 4rem;
			border-radius: 50%;
			background-color: $second;
		}

		&-title {
			padding: 0.5em;
			text-transform: uppercase;
			font-size: 2.4rem;
		}

		&-text {
			font-size: 1.8rem;
		}

		&-left,
		&-middle,
		&-right {
			padding: 1em 0;
		}
	}

	&__form {
		display: none;
		flex-direction: column;
		align-items: center;
		color: $black;
		font-size: 2.2rem;

		&-label {
				padding: 0.5em 0;	
		}

		&-input, &-textarea, &-button {
			width: 50%;
		}

		&-input, &-textarea {
			font-size: 1.6rem;
		}

		&-textarea {
			max-width: 50%;
			max-height: 192px;
			min-width: 50%;
			min-height: 192px;
		}

		&-button {
			margin: 2em 0;
			padding: 0.5em 1em;
			width: 10%;
		}
	}
}
