@import "./colors";
@import "./animations";

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	font-size: 1.6rem;
	background-color: $white;
	color: $white;
}

.sticky-body {
	overflow: hidden;
}

button,
input,
body {
	font-family: "Nunito", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $black;
	z-index: 999;

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		padding: 0.25em;
	}

	&__hamburger {
		padding: 0.5em;
		font-size: 3.5rem;
		border: none;
		background: none;
		color: $white;
		cursor: pointer;
	}

	&__logo {
		font-size: 3.5rem;
		font-weight: bold;

		&-link {
			text-decoration: none;
			color: $white;
		}

		&-icon {
			padding: 0 0.5em;
			color: $second;
		}
	}

	&__list {
		display: none;
		padding: 0 0.5em;
		list-style: none;

		&-item {
			padding: 0 1em;
			font-size: 2.4rem;

			&-link {
				text-decoration: none;
				color: $white;
			}
		}
	}
}

.nav-mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0.25em;

	&__links {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		left: 2000px;
		bottom: 0;
		height: 100vh;
		background-color: $black;
		z-index: 2000;

		&-hamburger-mobile {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 3.5rem;
		}

		&-list {
			list-style: none;

			&-item {
				font-size: 4rem;
				padding: 1em;
			}
		}
	}
}

.above {
	z-index: 10000;
}

.active {
	display: flex;
	animation: nav-mobile 1s forwards;
}


.header {
	position: relative;
	display: flex;
	align-items: center;
	background-image: url("../img/header-small.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	z-index: 0;

	&__flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -100;
	}

	&__title {
		padding: 1em;
		font-size: 4.2rem;
		color: $white;

		&-decoration {
			padding: 0.3em;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 10px;
			color: $second;
			background-color: $black;
		}
	}

	&__text {
		padding: 0.5em;
		font-size: 2.4rem;
	}

	&__link {
		text-decoration: none;
		color: $white;
	}

	&__arrow {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%) rotate(90deg);
		padding: 0.5em;
		font-size: 3.5rem;
		border-radius: 50%;
		border: 1px solid white;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
			border: 1px solid $white;
			border-radius: 50%;
			animation: pulse 1s linear infinite;
		}
	}
}

main {
	height: 100vh;
}

@import "./media";
