@import "./colors";
@import "./animations";

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	font-size: 1.6rem;
	background-color: $white;
	color: $white;
}

.sticky-body {
	overflow: hidden;
}

button,
input,
body {
	font-family: "Nunito", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $black;
	z-index: 999;

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		padding: 0.25em;
	}

	&__hamburger {
		padding: 0.5em;
		font-size: 3.5rem;
		border: none;
		background: none;
		color: $white;
		cursor: pointer;
	}

	&__logo {
		font-size: 3.5rem;
		font-weight: bold;

		&-link {
			text-decoration: none;
			color: $white;
		}

		&-icon {
			padding: 0 0.5em;
			color: $second;
		}
	}

	&__list {
		display: none;
		padding: 0 0.5em;
		list-style: none;

		&-item {
			position: relative;
			padding: 0 1em;
			font-size: 2.4rem;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 20px;
				width: 0;
				border: 1px solid transparent;
				border-radius: 50px;
				transition: width 0.3s, border 0.3s;
			}

			&:hover::after {
				width: 70%;
				border: 1px solid $second;
			}

			&-link {
				text-decoration: none;
				color: $white;
			}
		}
	}
}

.nav-mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0.25em;

	&__links {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		background-color: $black;
		z-index: 2000;

		&-hamburger-mobile {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 3.5rem;
		}

		&-list {
			list-style: none;

			&-item {
				font-size: 4rem;
				padding: 1em;
			}
		}
	}
}

.above {
	z-index: 10000;
}

.active {
	display: flex;
	animation: nav-mobile-show 1s forwards;
}

.de-active {
	display: flex;
	animation: nav-mobile-hide 1s forwards;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	background-image: url("../img/header-small.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	z-index: 0;

	&__flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -100;
	}

	&__title {
		padding: 1em;
		font-size: 4.2rem;
		color: $white;

		&-decoration {
			padding: 0.3em;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 10px;
			color: $second;
			background-color: $black;
		}
	}

	&__text {
		padding: 0.5em;
		font-size: 2.4rem;
	}

	&__link {
		text-decoration: none;
		color: $white;
	}

	&__arrow {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%) rotate(90deg);
		padding: 0.5em;
		font-size: 3.5rem;
		border-radius: 50%;
		border: 1px solid white;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
			border: 1px solid $white;
			border-radius: 50%;
			animation: pulse 1s linear infinite;
		}
	}
}

.main {
	&__about-us {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 6em 0;
		text-align: center;

		&-text {
			padding: 2em;
			color: $black;

			&-title {
				font-size: 3.2rem;
				padding: 0.5em;
			}

			&-p {
				font-size: 2rem;
			}
		}

		&-photo {
			padding: 2em;

			img {
				height: 250px;
			}
		}
	}

	.images {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);

		.images-box {
			height: 200px;
			width: 100%;
			background-position: center;
			background-size: cover;

			&-one {
				grid-column: 1/5;
				grid-row: 1/2;
				background-image: url("../img/hero1-small.jpg");
			}

			&-two {
				grid-column: 1/5;
				grid-row: 2/3;
				background-image: url("../img/hero2-small.jpg");
			}

			&-three {
				display: none;
				background-image: url("../img/hero3-small.jpg");
			}

			&-four {
				display: none;
				background-image: url("../img/hero4-small.jpg");
			}
		}
	}

	.workers {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8em 0;

		&__person {

			margin: 0 2em;
			border: 2px solid rgba(0, 0, 0, 0.05);
			border-radius: 20px;
			overflow: hidden;
			color: $black;
			text-align: center;
			background-color: $grey;

			&-name {
				padding: 1em;
				font-size: 3rem;
			}

			&-whatdo {
				padding: 2em 1em;
				font-size: 2rem;
			}

			&-photo {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: $black;

	&__text {
		font-size: 1.8rem;
	}
}

@import "./subpages";
@import "./media";
