@import "colors";
@import "animation";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
	position: relative;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

.blue-text {
	color: $main-color;
}

.shadow-bg {
	background-color: $bg;
}

nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 10;

	a,
	i {
		color: $white;
	}

	a:hover {
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $main-color;
	}
}

.hero-img {
	position: relative;
	height: 100vh;
	background-image: url("../img/playstation-small.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.btn-outline-light {
		text-transform: uppercase;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 10px;
		text-align: center;
		color: $white;
		z-index: 5;

		h1 {
			text-transform: uppercase;
			font-size: 30px;
		}

		p {
			font-size: 14px;
		}
	}

	.hero-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $bg;
		z-index: -10;
	}

	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%);
		font-size: 30px;
		color: $white;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url("../img/technology-small.jpg");
	background-position: center;
	background-size: cover;
	color: $grey-text;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $bg-light;
		z-index: -5;
	}

	.aboutus-hero-item {
		margin: 10px 0;

		i {
			font-size: 36px;
		}

		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}

.portfolio {
	.carousel-item {
		position: relative;
		height: 600px;
	}

	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: $bg;
	}

	.carousel-indicators {
		padding-bottom: 20px;
	}
}

.prices-items {
	background-color: $white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 40px;
	transition: transform 0.3s;

	button {
		padding: 10px 20px;
		color: $white;
		text-transform: uppercase;
	}

	.price-tag {
		font-weight: bold;
		font-size: 30px;
	}

	span {
		font-weight: bold;
	}

	h3 {
		color: $main-color;
		text-transform: uppercase;
	}

	i {
		padding: 0 5px;
		font-size: 24px;
	}
}

.prices-items:hover {
	transform: scale(1.05);
}

.prices {
	text-align: center;

	.price-info {
		a {
			text-decoration: none;
		}
	}
}

.team {
	position: relative;
	background-image: url("../img/chairs-small.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.team-h2 {
		color: $grey-text;
	}

	.card-title {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.team-bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $bg;
		z-index: -10;
	}

	.card-footer {
		display: flex;
		justify-content: space-around;
	}

	.card {
		margin: 15px 25px;
		transition: transform 0.3s;

		img {
			height: 300px;
			object-fit: cover;
		}
	}

	.card:hover {
		transform: scale(0.95);
	}

	i {
		color: $main-color;
		padding: 10px;
	}

	.card-body {
		height: 160px;
	}
}

.achievements {
	.card-box {
		text-align: center;

		i {
			padding: 10px;
			font-size: 48px;
			color: $white;
			text-shadow: 0 0 5px black;
		}

		.value {
			font-size: 22px;
		}

		.text-muted {
			font-size: 13px;
			text-transform: uppercase;
		}
	}
}

.contact {
	position: relative;
	background-image: url("../img/skyline-big.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.contact-bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $bg-light;
		z-index: -10;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 15px;
	}

	p,
	h3,
	h2 {
		color: $white;
	}

	.underline {
		background-color: $white;
	}

	i {
		color: $white;
		font-size: 24px;
		padding: 15px;
		transition: transform 0.3s, color 0.3s;
	}

	a {
		text-decoration: none;
	}

	i:hover {
		transform: scale(1.2);
		color: $main-color;
	}

	.contact-us {
		display: flex;
		align-items: center;

		.contact-item {
			margin: 30px 0;
		}
	}
}

@media (min-width: 1200px) {
	.hero-img {
		background-image: url("../img/playstation-big.jpg");
	}
}

@media (min-width: 375px) {
	.hero-img {
		.hero-text {
			h1 {
				font-size: 36px;
			}

			p {
				font-size: 16px;
			}
		}
	}
}

@media (min-width: 768px) {
	.hero-img {
		.hero-text {
			h1 {
				font-size: 42px;
			}

			p {
				font-size: 20px;
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		height: 82px;
	}

	.aboutus-hero {
		background-image: url("../img/technology-big.jpg");
	}

	.team {
		background-image: url("../img/chairs-big.jpg");
	}

	.prices {
		.price-info {
			font-size: 18px;
		}
	}
}
